<div class="stats back_blue2 h60 m15 br10 pd30 dflex aic jcc fdc dpsgreen">
	<div class="tango color_yellow fs30 fss20 textorientcent w100p">
		Este será tu apartado de <b class="color_green fs50 fss30">Control</b>, podrás analizar el bienestar de tus plantas.
		<p>Si quieres obtener nuestros sensores y volverte socio, registrate como tal aqui.</p>
	</div>
	<div class="pd5 m5 fs30 fs80ps w100p dflex jcc aic">
		<button onclick="windowRegister()" class="back_yellow br10 pd15 fss30 fs30 color_blue2 tango txtdeco bornone">
			Ser Socio
		</button>
	</div>
</div>
<div class="win_register">
	<button onclick="closeWindow()" class="back_none bornone dflex pd15 color_blue fss30 fs30">X</button>
	<div class="dflex jcc pd15 h100p">
		<div class="card h100p back_blue2 dpsgreen br10 w80p m15 h90 pd15 color_yellow tango dflex fdc jcspb">
			<div class="fs20 w100p dflex fdc jcc textorientcent"> Socio + Sensores </div>
			<div class="fs20 w100p color_green">
				<p><b>-Sensores y acceso a Control</b></p>
				<p><b>-Foro de Socios</b></p>
				<p><b>-Stickers y Accesorios</b></p>
				<p><b>-Soporte Tecnico</b></p>
			</div>
			<div class="w100p dflex jcc">
				<a class="txtdeco color_blue back_yellow pd5 br10 fs20" href="/register_socio">Aceptar</a>
			</div>	
		</div>
	</div>	
</div>