<div class="header h100 w100p dflex aic">
	<div class="h100 pd15 dflex aic">
		<img class="h90 dpsblue" src="resources/img/logo/logo.svg" alt="">
	</div>
	<div class="tommy_medium fs20 color_tea dflex jcl aic w100p pd15">{{section}}</div>
	<button class="openbtn" onclick="openNav()">&#9776;</button>
	<div id="mySidebar" class="menu">
			<button href="javascript:void(0)" class="closebtn back_blue2 tommy_medium bornone color_tea" onclick="closeNav()">&times;</button>
			<div class="header_user tommy_medium color_green fs20">{{header_user}}</div>
			<div class="h100p dflex fdc jcspb">
				<div class="">
					<a class="link" href="/control"><i class="fa-solid fa-microchip" style="color: #ADE792; margin:10px;"></i>Control</a>
					<a class="link" href="/comunidad"><i class="fa-solid fa-users" style="color: #ADE792; margin:10px;"></i>Comunidad</a>
					<a class="link" href="/biblioteca"><i class="fa-solid fa-leaf" style="color: #ADE792; margin:10px;"></i>Plantas</a>
					<a class="link" href="/perfil"><i class="fa-solid fa-user" style="color: #ADE792; margin:10px;"></i>Perfil</a>
				</div> 
				<div class="w100p h50 dflex fdc jcc aic">
					<hr class="w80p" style="border-color: #F3ECB0;">
					<div class="w100p dflex jcl">
						<a class="link" href="/logout"><i class="fa-solid fa-right-from-bracket" style="color: #ADE792; margin:10px;"></i>Cerrar Sesión</a>
					</div>
				</div>
			</div>
		<div class="w100p back_green"></div>
	</div>
</div>
