<div class="stats back_blue2 h60 m15 br10 pd30 dflex aic jcc fdc dpsgreen">
	<div class="tango color_yellow fs30 fs80ps textorientcent">	
		Aqui estará tu zona de <b class="color_green">Control</b> {{usuario}}, este lugar sera donde controlaras las estadisticas de tus plantas.
	</div>
	<div class="tango color_yellow fs30 fs80ps textorientcent">	
		Primero deberas registrar tu Placa Wifi, ingresando el codigo el cual estará en el Manual de Usuario y su Apodo a eleccion propia.
	</div>
	<div class="tango br5 fs30 dflex jcc textorientcent color_yellow m5 back_red">
		{{alert}}
	</div>
	<div class="form">
		<form method="POST" class="dflex fdc jcc aic w100p pd15">
			<input class="w80p m5 pd5 textorientcent br10 bornone back_green tango fs20 tac color_blue bornone" type="number" name="chipid" placeholder="Numero de Chip">
			<input class="w80p m5 pd5 textorientcent br10 bornone back_green tango fs20 tac color_blue bornone" type="text" name="apodo" placeholder="Apodo">
			<input class="bornone pd5 tango fss25 fs20 br10 m10 back_blue color_yellow" type="submit" name="btnAccept" value="Aceptar">
		</form>
	</div>
</div>