<div class="welcome back_blue2 h60 m15 br10 pd30 dflex aic jcc fdc dpsgreen">
	<div class="fs50 fss50 tango color_yellow textorientcent">
		Hola de nuevo, <b class="color_green"> {{usuario}}! </b>
		<p class="color_tea fs30 fss30">Si usted desea obtener nuestros contenedores, haga click aqui
		<div class="pd15 fs30 fs80ps">
			<button onclick="windowRegister()" class="back_yellow br10 pd15 color_blue2 fs30 fss20 tango txtdeco bornone">Ser Socio</button>
		</div>
	</div>
</div>
<div class="win_register">
	<button onclick="closeWindow()" class="back_none bornone dflex pd15 color_blue fss30 fs30">X</button>
	<div class="dflex jcc pd15 h100p">
		<div class="card h100p back_blue2 dpsgreen br10 w45p m15 h90 pd15 color_yellow tango dflex fdc jcspb">
			<div class="fs20 w100p dflex fdc jcc textorientcent"> Socio + Sensores </div>
			<div class="fs20 w100p color_green">
				<p><b>-Sensores y acceso a Control</b></p>
				<p><b>-Foro de Socios</b></p>
				<p><b>-Stickers y Accesorios</b></p>
				<p><b>-Soporte Tecnico</b></p>
			</div>
			<div class="w100p dflex jcc">
				<a class="txtdeco color_blue back_yellow pd5 br10 fs20" href="/register_socio">Aceptar</a>
			</div>	
		</div>
	</div>	
</div>