<div class="welcome back_blue2 m15 br10 pd30 dflex fdc dpsgreen">
	<div class="tango color_yellow fs50 fs80ps">	
		Bienvenido a <b class="color_green"> DataEARTH</b>, {{usuario}} 
	</div>
	<div class="news dflex fdc">
		<div class="fs30 pd5 tango color_tea fs60ps">
			Nuestro sistema y aplicacion consiste en ampliar el conocimiento y control de las plantas de las personas para obtener un mejor entorno. 
		</div>
		<div class="info_news fs30 pd15 tango color_tea">
			<p class="color_yellow fs20 fs60ps"><b class="color_green fs30 fs70ps">Control:</b> es para los socios los cuales dispondran de sus estadisticas en tiempo real sobre sus plantas.
			<p class="color_yellow fs20 fs60ps"><b class="color_green fs30 fs70ps">Plantas:</b> es donde cualquier usuario podra obtener informacion de la planta que se encuentre dentro nuestro glosario de plantas. 
		</div>
		<div class="pd15 fs30 fs80ps">
			<button onclick="windowRegister()" class="back_yellow br10 pd15 color_blue2 fs30 fss20 tango txtdeco bornone">Ser Socio</button>
		</div>
	</div>
</div>
<div class="win_register">
	<button onclick="closeWindow()" class="back_none bornone dflex pd15 color_blue fss30 fs30">X</button>
	<div class="dflex jcc pd15 h100p">
		<div class="card h100p back_blue2 dpsgreen br10 w45p w80ps m15 h90 pd15 color_yellow tango dflex fdc jcspb">
			<div class="fs20 w100p dflex fdc jcc textorientcent"> Socio + Sensores </div>
			<div class="fs20 w100p color_green">
				<p><b>-Sensores y acceso a Control</b></p>
				<p><b>-Foro de Socios</b></p>
				<p><b>-Stickers y Accesorios</b></p>
				<p><b>-Soporte Tecnico</b></p>
			</div>
			<div class="w100p dflex jcc">
				<a class="txtdeco color_blue back_yellow pd5 br10 fs20" href="/register_socio">Aceptar</a>
			</div>	
		</div>
	</div>	
</div>