<form method="POST" class="dflex fdc aic jcc" enctype="multipart/form-data">
	<label class="color_tea m5">Titulo: </label>
	<input class="title_edit_publi tango m5 bornone back_yellow pd5 color_blue2" type="text" maxlength="20" name="title_edit_publi" placeholder="Max. 20 Caracteres">
	
	<input type="hidden" name="id_publi" class="form_id_publi" value="">
	<!-- <label class="color_tea m5">Imagen: </label>
	<input class="w80p" type="file" name="image_edit_publi"> -->

	<label class="color_tea m5">Comentario: </label>
	<textarea class="content_edit_publi back_yellow color_blue2 pd5 br bornone tango" name="content_edit_publi" cols="20" rows="5" maxlength="40" placeholder="Max. 40 Caracteres" style="resize: none"></textarea>
	
	<input class="color_tea back_blue2 pd5 br3 bornone tango m5" type="submit" name="btnPubliEdited" value="Aceptar">
	<input class="back_red bornone pd5 br3 tango color_yellow m5" type="submit" name="btnPubliDeleted" value="Eliminar">
</form>