<label class="tango color_blue fs30 tac m15">Agregar Planta</label>
<form method="POST" class="dflex fdc jcl" enctype="multipart/form-data">
	<label class="m5 tango color_blue fs20 tal">Nombre de la Planta: </label>
	<input class="tango m5 bornone back_yellow pd5" type="text" maxlength="10" name="plant_name" placeholder="Max. 10 Caracteres">
	
	<label class="m5 tango color_blue fs20 tal">Imagen: </label>
	<input class="m5" type="file" name="plant_image">
	
	<input class="m15 bornone color_yellow back_blue pd5 fs20 tango br3" type="submit" name="btnPlant" value="Aceptar">
</form>