<div class="dpsgreen back_blue2 ws30vw w80vw br10 dflex fdc aic pd20">
	<div class="back_red fs20 color_yellow br10 tango">{{alert_email}}</div>
	<h2 class="tommy_medium color_yellow fss30 fs30 pd20 w100vw tac">Ingresa tu Email</h2>
	<form method="post" class="dflex fdc aic w100vw">
		<label class="fs20 tommy_medium color_green dflex jcl w80p">Email: </label>
		<input type="text" class="w80p m10 pd10 br10 bornone back_green tango fs20 tac color_blue" name="email" placeholder="Email">
		<input class="bornone pd20 tango fss25 fs30 br10 m10 back_blue color_yellow" type="submit" name="btnAccept" value="Aceptar">
	</form>
</div>