<div class="dpsgreen back_blue2 ws30vw w80vw br10 dflex fdc aic pd20">
	<div class="back_red fs20 color_yellow br10 tango">{{alert_pass}}</div>
	<h2 class="tommy_medium color_yellow fss30 fs30 pd20 w100vw tac">Recupera tu contraseña</h2>
	<form method="post" class="dflex fdc aic w100vw">
		<label class="fs20 tommy_medium color_green dflex jcl w80p">Nueva Contraseña: </label>
		<input type="password" class="w80p m10 pd10 br10 bornone back_green tango fs20 tac color_blue" name="pass" placeholder="Contraseña">
		
		<label class="fs20 tommy_medium color_green dflex jcl w80p">Confirmar Contraseña: </label>
		<input type="password" class="w80p m10 pd10 br10 bornone back_green tango fs20 tac color_blue" name="check_pass" placeholder="Confirmar Contraseña">
		
		<input class="bornone pd20 tango fss25 fs30 br10 m10 back_blue color_yellow" type="submit" name="btnRecover" value="Aceptar">
	</form>
</div>