<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404</title>
	<link rel="stylesheet" href="../../views/style/404.css">
	<link rel="icon" href="../../resources/img/logo/logo.svg">
</head>
<body class="back_blue2">

	<div class="contenedor__404 dflex fdir_col tango jc_c align_i_c">
		<img src="../../resources/img/logo/logo.svg" alt="" class="logo__transparent">	
		<div class="mensaje__vuelta color_yellow tango jc_c align_i_c">
			Lo sentimos, no pudimos encontrar la página que buscabas. 
		</div>
		<div class="mensajes_error dflex  fdir_col 	jc_c align_i_c ">
			<div class="mensaje__404 color_yellow">404</div>
			<div class="mensaje__error color_yellow tango">error</div>
		</div>
		<div class="contenedor_links dflex">	
			<a href="/" class=" link__panel color_yellow tango">Intenta aquí!</a>
		</div>
	</div>

</body>
</html>