<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DataEarth</title>
	<link rel="stylesheet" href="views/style/index.css">
	<link rel="icon" href="resources/img/logo/logo.svg">
</head>
<body class="back_blue">
	<div class="wave pab tp10 w100vw z0"><img class="w100vw" src="resources/img/wave.svg" alt=""></div>
	<div class="pd50">
		<div class="contain_top w100vw z0">
			<div class="titulo tango w100vw dflex fdc jcc">
				<div class="titulo_logo dflex aic jcc"><img class="h30vh dpsye" src="resources/img/logo/logo.svg" alt=""></div>
				<div class="color_yellow dflex fs50 w100vw aic jcc pd20 z0">Data<b class="color_green">EARTH</b></div>
			</div>
		</div>
		<div class="welcome dflex fdc">
			<p class="tango fs30 tac pd10 color_tea z5">El cuidado de las plantas nunca fue tan controlado y mejorado</p>
		</div>
		<div class="login w100vw dflex fdc jcc aic">
			<a class="btn_sesion txtdecnone color_blue z5 m10" href="/login"><h2 class="back_green fss25 pd20 tango_bold color_blue br10 tac">Iniciar Sesión</h2></a>
			<a class="btn_sesion txtdecnone color_blue z5 m10" href="/register"><h2 class="back_green fss25 pd20 tango_bold color_blue br10 tac">Registrarse</h2></a>
		</div>
	</div>
	{{footer}}
	<script src="resources/js/index.js"></script>
</body>
</html>