<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DataEarth | Panel</title>
	<link rel="stylesheet" href="views/style/panel.css">
	<link rel="icon" href="resources/img/logo/logo.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="back_blue h100p">
	{{header}}
	{{panel}}
	{{footer}}
</body>
<script src="resources/js/index.js"></script>
</html>