	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DataEarth | Perfil</title>
	<link rel="stylesheet" href="views/style/perfil.css">
	<link rel="icon" href="resources/img/logo/logo.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="back_blue ovxh">
	{{header}}
	<div class="container_perfil dflex h100p">
		{{perfil}}
	</div>
	 {{footer}}
	
</body>
<script src="resources/js/apiPublisByUser.js"></script>
<script src="resources/js/perfil.js"></script>
<script src="resources/js/index.js"></script>
</html>