<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DataEARTH | Recuperar Contraseña</title>
	<link rel="icon" href="resources/img/logo/logo.svg">
	<link rel="stylesheet" href="views/style/index.css">
</head>
<body class="back_blue">
	<div class="dflex fdc">
		<div class="z5"><img class="w100vw pab tp10 z0" src="resources/img/wave.svg" alt=""></div>
		<div class="w100vw dflex jcc aic z5 pd50">
			{{form}}
		</div>	
		{{footer}}
	</div>
</body>
</html>