<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DataEARTH | Socio</title>
	<link rel="icon" href="resources/img/logo/logo.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="views/style/panel.css">
</head>
<body class="back_blue">
	<div class="dflex fdc">
		{{header}}
		<div class="dflex jcc">
			<form method="POST" class=" w80p dpsgreen back_blue2 br10 dflex fdc aic pd30">
				<h1 class="tommy_medium color_green">Ingrese los datos para volverse Socio</h1>
				<label class="pd15 tango color_tea fs20">Nombre: </label>
				<input class="w50p back_blue bornone br5 pd5 tommy_medium color_yellow" type="text" name="name" placeholder="Nombre">

				<label class="pd15 tango color_tea fs20">Apellido: </label>
				<input class="w50p back_blue bornone br5 pd5 tommy_medium color_yellow" type="text" name="apel" placeholder="Apellido">

				<label class="pd15 tango color_tea fs20">Direccion: </label>
				<input class="w50p back_blue bornone br5 pd5 tommy_medium color_yellow" type="text" name="dire" placeholder="Direccion">

				<label class="pd15 tango color_tea fs20">DNI: </label>
				<input class="w50p back_blue bornone br5 pd5 tommy_medium color_yellow" type="number" name="dni" placeholder="DNI">

				<input class="m15 pd15 br5 back_blue color_yellow tommy_medium bornone fs20" type="submit" name="btnSocio" value="Aceptar">
			</form>
		</div>	
		{{footer}}
	</div>
</body>
<script src="resources/js/index.js"></script>
</html>